body {
    background-color: #1a1a1a;
    color: #fff;
    font-family: 'Arial', sans-serif;
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat;
  }
 
img#La_Tierra {
  display: block;
  margin: 0 auto;
  text-align: center; 
}
img#la_tierra_sin{
  display: block;
  margin: 0 auto;
  text-align: center; 
}
  h1 {
    color: #ff9900;
  }
  
  p {
    color: #ffcc66;
    line-height: 1.5; 
    margin-bottom: 15px; 
  }
  